
/* grid code code */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300;400;500;600&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: grid;
    width: 100%;
}


.yellow {
    background-color:  hsl(31, 77%, 52%);
    height: 300px;
}
.darkgreen {
    background-color:  rgb(4, 39, 39);
    height: 300px;
}

.red{
    background-color: red;
    height: 400px;
  
}
 .green{
    background-color: green;
    height: 200px;
 
}
 .black{
    background-color: black;
    height: 200px;

}

/* header code */

header{
    width: 75%;
    margin:auto;
    height: 75px;
    /* background: hsl(31, 77%, 52%); */

}
header ul{

    list-style-type: none;
    text-align: left;
}

header li{
    float: left;
    padding: 15px 10px 10px 0px;
    text-decoration: none;
   
   }
   
   header li a{
    text-decoration: none;
    color: white;
    background-color:hsl(31, 77%, 52%);
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    font-family: 'Lexend Deca', sans-serif;
       
      }



@media only screen and (min-width: 768px) {

/* grid */
main{
    display: grid;
    width:75%;
    margin: 100px auto; 
  

}

.yellow{
    background-color:  hsl(31, 77%, 52%);
    grid-row: 1;
    grid-column: 1 / span 2;
}

.darkgreen {
    grid-row: 1;
    grid-column: 3 / span 1;
}

.red{
    grid-row: 2 / span 3 ;
    grid-column: 1 ;
}

.green{
    grid-row: 2 ;
    grid-column: 2 / span 2;
}

.black{
    grid-row: 3 ;
    grid-column: 2 / span 2;
}

header li{
    padding: 25px 20px 25px 0px;
    
   }
header li a{
    padding: 15px 25px 15px 25px;
}


}